@import './custom-theme';

@import '@univerjs/design/lib/index.css';
@import '@univerjs/ui/lib/index.css';
@import '@univerjs/docs-ui/lib/index.css';
@import '@univerjs/sheets-ui/lib/index.css';
@import '@univerjs/sheets-formula/lib/index.css';

@import './app/views/report-designer/report-designer.component';

.ant-btn.btn-border-less,
.btn-border-less {
  box-shadow: none;
  color: #262626;
  border: 0;
}
